NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBE-BWWuS6tbSjGBvYVfBI-8Z2-P8GGvQI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=golff12.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=golff12
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=golff12.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=994634067271
