NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBE-BWWuS6tbSjGBvYVfBI-8Z2-P8GGvQI
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=golff12.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=golff12
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=golff12.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=994634067271

# 토스페이먼츠 테스트 환경
NEXT_PUBLIC_TOSS_CLIENT_KEY=test_ck_GePWvyJnrKOBm4Yzz1mOrgLzN97E
TOSS_SECRET_KEY=test_sk_Poxy1XQL8Rm9BGjNjXjLr7nO5Wml