# Firebase Configuration
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyBj6hZqz6h8yYC2T-EYcAg7qqimvBrv19k
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=golf-3241e.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=golf-3241e
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=golf-3241e.appspot.com
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=184042751141
